<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyversion" value="Highest" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CL Artifactory Nuget" value="https://artifacts.Company.com/artifactory/api/nuget/cdl-nuget-virt"/>
    <add key="CL Teamcity Output" value="https://artifacts.Company.com/artifactory/api/nuget/cdl-teamcity-output"/>
  </packageSources>
</configuration>