<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../Logs/internal-nlog.txt">

  <!-- define various log targets -->
  <targets async="true">
    <target name="consoleTarget" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="ends-with('${logger}', 'MessageService')" foregroundColor="Green" />
      <highlight-row condition="ends-with('${logger}', 'ConsumerMessageLogger')" foregroundColor="Cyan" />
      <highlight-row condition="ends-with('${logger}', 'MessageConsumerService')" foregroundColor="Gray" />
    </target>
    <target xsi:type="File"
            name="fileTarget"
            fileName="..\..\Logs\test-host-logs_${date:format=yyyyMMdd}.log" >
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fffZ}"/>
        <attribute name="Logger" layout="${logger}"/>
        <attribute name="Level" layout="${uppercase:${level}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Exception" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget"/>
    <logger name="Company.*Message*" minlevel="Trace" writeTo="consoleTarget"/>
  </rules>
</nlog>
